<section class="staticman-comments post-comments">
        <h3>Kommentit</h3>
        {{ $comments := readDir "data/comments" }}
        {{ $.Scratch.Add "hasComments" 0 }}
        {{ $postSlug := .File.ContentBaseName }}
        {{ range $comments }}
          {{ if eq .Name $postSlug }}
            {{ $.Scratch.Add "hasComments" 1 }}
            {{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
              <div id="commentid-{{ ._id }}" class="post-comment">
                <div class="post-comment-header">
                  <p class="post-comment-info">
                    <span class="post-comment-name">{{ .name }}</span>
                    <br>
                    <a href="#commentid-{{ ._id }}" title="Permalink to this comment">
                      <time class="post-time">{{ dateFormat "2.1.2006 klo 15:04 UTC" .date }}</time>
                    </a>
                  </p>
                </div>
                {{ .comment | markdownify }}
              </div>
            {{ end }}       
          {{ end }}
        {{ end }}
        {{ $canLeaveComment := (not (or site.Params.disable_comments (eq .Page.Params.comments false))) }}
        {{ if and (eq ($.Scratch.Get "hasComments") 0) $canLeaveComment }}
          <p>Ei kommentteja</p>
        {{ else if not $canLeaveComment }}
          <br>
          <p>Submission of new comments has been disabled for this post.</p>
        {{ end }}

      </section>      
      {{ if $canLeaveComment }}

        <section class="staticman-comments post-comments">

          <h3>Kommentoi</h3>
          
          <form class="post-new-comment" method="post" action="{{ site.Params.staticman.endpoint }}/{{ site.Params.staticman.username }}/{{ site.Params.staticman.repository }}/{{ site.Params.staticman.branch }}/comments">
            <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
            <input type="hidden" name="options[slug]" value="{{ .File.ContentBaseName }}">
            <input type="hidden" name="fields[postName]" value="{{ .File.ContentBaseName }}"/>          
            <input type="text" name="fields[name]" class="post-comment-field" placeholder="Nimi tai nimimerkki *" required/>         
            <input type="address" name="fields[botpot]" placeholder="botpot (do not fill!)" style="display: none"></textarea>          
            <textarea name="fields[comment]" class="post-comment-field" placeholder="Kommentti *" required rows="5"></textarea>
            <input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Lähetä">
          </form>
        </section>

        <div id="comment-submitted" class="dialog">
          <h3>Kiitos kommentista!</h3>
          <p>Kommentti lähetettiin tarkistettavaksi.</p>
          <p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
        </div>

      {{ end }}
</section>

